<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{layouts/shares :: head }"></th:block>
  <body>
    <th:block th:insert="~{layouts/nav :: nav }"></th:block>

  <div class="container">
    <h3 class="text-center my-3">Add New Book</h3>
    <div class="col-md-6 offset-md-3">
      <form action="/admin/book/add" method="post" enctype="multipart/form-data">

        <div class="mb-3">
          <label for="categoryId" class="form-label">Select Category : </label>
          <select class="form-select mb-3" name="categoryId" id="categoryId">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>

          <div class="mb-3">
          <label for="title" class="form-label">Title : </label>
          <input type="text" class="form-control" id="title" name="title" required>
          </div>

          <div class="mb-3">
          <label for="author" class="form-label">Author : </label>
          <input type="text" class="form-control" id="author" name="author" required>
          </div>

          <div class="mb-3">
          <label for="publicationDate" class="form-label">Publish Date : </label>
          <input type="date" class="form-control" id="publicationDate" name="publicationDate">
          </div>

          <div class="mb-3">
            <label for="desription" class="form-label">Description</label>
            <textarea class="form-control" id="desription" rows="3"
            name="desription"></textarea>
          </div>

          <div class="mb-3">
          <label for="price" class="form-label">Price : </label>
          <input type="number" class="form-control" id="price" name="price" required minlength="3">
          </div>

          <div class="mb-3">
          <label for="stock" class="form-label">Stock : </label>
          <input type="stock" class="form-control" id="stock" name="stock" required minlength="2">
          </div>

          <div class="mb-3">
            <label for="formFile" class="form-label">Pick Cover Image</label>
            <input class="form-control" type="file" id="formFile" name="coverImage" required>
          </div> 
          <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary btn-sm">Add</button>
          </div>       
     </form>
    </div>
  </div>   
    <th:block th:insert="~{layouts/shares :: foot}"></th:block>
  </body>
</html>