<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{layouts/shares :: head }"></th>
  <body>
    <th:block th:insert="~{layouts/nav :: nav }"></th>

  <div class="container">

     <div class="d-flex justify-content-between my-5">
      <h5 class="text-center">ALL Books</h5>
      <div>
        <a href="/add" class="btn btn-primary btn-sm">
          <i class="fa fa-add"></i>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 mb-3">            
        <div class="card">
              <img src="/imgs/API.png" class="card-img-top" alt="..." width="300" height="300">
              <div class="card-body">
              <h5 class="card-title">API</h5>
              <h6>Writer <span class="text-danger"> Ei Maung </span></h6>
              <p class="card-text">An API (Application Programming Interface) is a set of rules and tools that allows different software systems to communicate and share data or functionality seamlessly.</p>
              <p class="card-text">Price - <span class="text-secondary">20,000</span> MMK </p>
              <p class="card-text">Stock - <span class="text-secondary">200</span> </p>
              <a href="#" class="btn btn-success btn-sm">Order Now
                <i class="fa-solid fa-cart-plus"></i>
              </a>

              <!-- For Admin -->
<!--
              <a href="#" class="btn btn-warning btn-sm">
                <i class="fa fa-edit"></i>
              </a>
              <a href="#" class="btn btn-danger btn-sm">
                <i class="fa fa-trash"></i>
              </a>-->

              </div>
              </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card" >
              <img src=/imgs/Bootstrap.png" class="card-img-top" alt="... " width="300" height="300">
              <div class="card-body">
              <h5 class="card-title">Bootstrap</h5>
              <h6>Writer <span class="text-danger"> Ei Maung </span></h6>
              <p class="card-text">Bootstrap is a popular front-end framework for building responsive, mobile-first websites quickly using pre-designed HTML, CSS, and JavaScript components.</p>
              <p class="card-text">Price - <span class="text-secondary">20,000</span> MMK </p>
              <p class="card-text">Stock - <span class="text-secondary">200</span> </p>
              <a href="#" class="btn btn-success btn-sm">Order Now
                <i class="fa-solid fa-cart-plus"></i>
              </a>

              <!-- For Admin -->
<!--
              <a href="#" class="btn btn-warning btn-sm">
                <i class="fa fa-edit"></i>
              </a>
              <a href="#" class="btn btn-danger btn-sm">
                <i class="fa fa-trash"></i>
              </a>-->

              </div>
              </div>
      </div>
      
      <div class="col-md-3 mb-3 ">
         <div class="card" >
              <img src="/imgs/Datastructures & Algorithms.png" class="card-img-top" alt="..." width="300" height="300">
              <div class="card-body">
              <h5 class="card-title">DSA</h5>
              <h6>Writer <span class="text-danger"> Hlaing Tin Htun </span></h6>
              <p class="card-text">DSA (Data Structures and Algorithms) is the study of organizing and processing data efficiently to solve computational problems effectively.</p>
              <p class="card-text">Price - <span class="text-secondary">20,000</span> MMK </p>
              <p class="card-text">Stock - <span class="text-secondary">200</span> </p>
              <a href="#" class="btn btn-success btn-sm">Order Now
                <i class="fa-solid fa-cart-plus"></i>
              </a>

              <!-- For Admin -->
<!--
              <a href="#" class="btn btn-warning btn-sm">
                <i class="fa fa-edit"></i>
              </a>
              <a href="#" class="btn btn-danger btn-sm">
                <i class="fa fa-trash"></i>
              </a>-->

              </div>
              </div>
      </div>
        
        <div class="col-md-3 mb-3 ">
         <div class="card" >
              <img src="/imgs/Figma-For-Developer.png" class="card-img-top" alt="..."width="300" height="300">
              <div class="card-body">
              <h5 class="card-title">Figma</h5>
              <h6>Writer <span class="text-danger">Lwin Moe Paing </span></h6>
              <p class="card-text">Figma is a cloud-based design tool used for creating, prototyping, and collaborating on user interface and user experience (UI/UX) designs in real time.</p>
              <p class="card-text">Price - <span class="text-secondary">20,000</span> MMK </p>
              <p class="card-text">Stock - <span class="text-secondary">200</span> </p>
              <a href="#" class="btn btn-success btn-sm">Order Now
                <i class="fa-solid fa-cart-plus"></i>
              </a>

              <!-- For Admin -->
<!--
              <a href="#" class="btn btn-warning btn-sm">
                <i class="fa fa-edit"></i>
              </a>
              <a href="#" class="btn btn-danger btn-sm">
                <i class="fa fa-trash"></i>
              </a>-->

              </div>
              </div>
        </div>
      
        <div class="col-md-3 mb-3 ">
         <div class="card" >
              <img src="/imgs/JavaScript.png" class="card-img-top" alt="..." width="300" height="300">
              <div class="card-body">
              <h5 class="card-title ">JavaScript</h5>
              <h6>Writer <span class="text-danger"> Ei Maung </span></h6>
              <p class="card-text ">JavaScript is a versatile programming language used to make web pages interactive, dynamic, and responsive by running directly in the browser.</p>
              <p class="card-text ">Price - <span class="text-secondary">20,000</span> MMK </p>
              <p class="card-text ">Stock - <span class="text-secondary">200</span> </p>
              <a href="#" class="btn btn-success btn-sm">Order Now
                <i class="fa-solid fa-cart-plus"></i>
              </a>

              <!-- For Admin -->
<!--
              <a href="#" class="btn btn-warning btn-sm">
                <i class="fa fa-edit"></i>
              </a>
              <a href="#" class="btn btn-danger btn-sm">
                <i class="fa fa-trash"></i>
              </a>-->

              </div>
              </div>
        </div>
           
        <div class="col-md-3 mb-3 ">
         <div class="card" >
              <img src="/imgs/Laravel8.png" class="card-img-top" alt="..." width="300" height="300">
              <div class="card-body">
              <h5 class="card-title">Laravel8</h5>
              <h6>Writer <span class="text-danger"> Ei Maung </span></h6>
              <p class="card-text ">Laravel 8 is a modern PHP framework that simplifies web application development with elegant syntax, built-in tools, and features for routing, database management, and security.</p>
              <p class="card-text">Price - <span class="text-secondary">20,000</span> MMK </p>
              <p class="card-text">Stock - <span class="text-secondary">200</span> </p>
              <a href="#" class="btn btn-success btn-sm">Order Now
                <i class="fa-solid fa-cart-plus"></i>
              </a>

              <!-- For Admin -->
<!--
              <a href="#" class="btn btn-warning btn-sm">
                <i class="fa fa-edit"></i>
              </a>
              <a href="#" class="btn btn-danger btn-sm">
                <i class="fa fa-trash"></i>
              </a>-->

              </div>
              </div>
        </div>
         
        <div class="col-md-3 mb-3 ">
         <div class="card" >
              <img src="/imgs/PHP.png" class="card-img-top" alt="..." width="300" height="300">
              <div class="card-body">
              <h5 class="card-title">PHP</h5>
              <h6>Writer <span class="text-danger"> Ei Maung </span></h6>
              <p class="card-text">PHP is a widely-used server-side scripting language designed for web development to create dynamic and interactive web pages.</p>
              <p class="card-text">Price - <span class="text-secondary">20,000</span> MMK </p>
              <p class="card-text">Stock - <span class="text-secondary">200</span> </p>
              <a href="#" class="btn btn-success btn-sm">Order Now
                <i class="fa-solid fa-cart-plus"></i>
              </a>

              <!-- For Admin -->
<!--
              <a href="#" class="btn btn-warning btn-sm">
                <i class="fa fa-edit"></i>
              </a>
              <a href="#" class="btn btn-danger btn-sm">
                <i class="fa fa-trash"></i>
              </a>-->

              </div>
              </div>
        </div>
        
        <div class="col-md-3 mb-3">
         <div class="card" >
              <img src="/imgs/Professional-Web-Developer-2023.png" class="card-img-top" alt="..." width="300" height="300">
              <div class="card-body">
              <h5 class="card-title" >Professional Web Developer (PHP, Laravel)</h5>
              <h6>Writer <span class="text-danger"> Ei Maung </span></h6>
              <p class="card-text">A Professional Web Developer (PHP, Laravel) guide teaches how to build robust, secure, and scalable web applications using PHP and the Laravel framework with best practices and modern development techniques.</p>
              <p class="card-text">Price - <span class="text-secondary">40,000</span> MMK </p>
              <p class="card-text">Stock - <span class="text-secondary">200</span> </p>
              <a href="#" class="btn btn-success btn-sm">Order Now
                <i class="fa-solid fa-cart-plus"></i>
              </a>

              <!-- For Admin -->
<!--
              <a href="#" class="btn btn-warning btn-sm">
                <i class="fa fa-edit"></i>
              </a>
              <a href="#" class="btn btn-danger btn-sm">
                <i class="fa fa-trash"></i>
              </a>-->

              </div>
              </div>
        </div>

        <div class="col-md-3 mb-3">
         <div class="card" >
              <img src="/imgs/React.png" class="card-img-top" alt="..." width="300" height="300">
              <div class="card-body">
              <h5 class="card-title">React</h5>
              <h6>Writer <span class="text-danger"> Ei Maung </span></h6>
              <p class="card-text">React is a popular JavaScript library for building fast, interactive, and component-based user interfaces, primarily for web applications.</p>
              <p class="card-text">Price - <span class="text-secondary">20,000</span> MMK </p>
              <p class="card-text">Stock - <span class="text-secondary">200</span> </p>
              <a href="#" class="btn btn-success btn-sm">Order Now
                <i class="fa-solid fa-cart-plus"></i>
              </a>

              <!-- For Admin -->
<!--
              <a href="#" class="btn btn-warning btn-sm">
                <i class="fa fa-edit"></i>
              </a>
              <a href="#" class="btn btn-danger btn-sm">
                <i class="fa fa-trash"></i>
              </a>-->

              </div>
              </div>
        </div>
        
        <div class="col-md-3 mb-3">
         <div class="card" >
              <img src="/imgs/Ubuntu-Linux-for-You.png" class="card-img-top" alt="..." width="300" height="300">
              <div class="card-body">
              <h5 class="card-title">Ubuntu</h5>
              <h6>Writer <span class="text-danger"> Ei Maung </span></h6>
              <p class="card-text">Ubuntu is a user-friendly, open-source Linux operating system known for its stability, security, and wide community support for desktops and servers.</p>
              <p class="card-text">Price - <span class="text-secondary">20,000</span> MMK </p>
              <p class="card-text">Stock - <span class="text-secondary">200</span> </p>
              <a href="#" class="btn btn-success btn-sm">Order Now
                <i class="fa-solid fa-cart-plus"></i>
              </a>

              <!-- For Admin -->
<!--
              <a href="#" class="btn btn-warning btn-sm">
                <i class="fa fa-edit"></i>
              </a>
              <a href="#" class="btn btn-danger btn-sm">
                <i class="fa fa-trash"></i>
              </a>-->

              </div>
              </div>
        </div>

    </div> 
  </div>    
    <th:block th:insert="~{layouts/shares :: foot}"></th>
  </body>
</html>