<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{layouts/shares :: head }"></th:block>
  <body>
    <th:block th:insert="~{layouts/nav :: nav }"></th:block>

  <div class="container">

     <div class="d-flex justify-content-between my-5">
      <h5 class="text-center">ALL Books</h5>
      <div class="d-flex justify-content-end">
        <a href="/books/add" class="btn btn-primary btn-sm">
          <i class="fa fa-add"></i>
        </a>
        <div class="dropdown px-2">
          <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
           Filter
          </button>
          <ul class="dropdown-menu">
            <li  th:each="cat : ${cats}" > 
              <a class="dropdown-item" th:href="@{/books/bycat/{id}(id=${cat.id})}" th:text="${cat.name}">Action</a></li>
            <li><a class="dropdown-item" href="/books">All</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-3 mb-3" th:each="book : ${books}">            
        <div class="card">
              <img th:src="@{/imgs/{image}(image=${book.coverImageUrl})}" class="card-img-top" alt="..." width="300" height="300">
              <div class="card-body">
              <h5 class="card-title" th:text="${book.title}">Book Title</h5>
              <h6>Writer <span class="text-danger" th:text="${book.author}"> Ei Maung </span></h6>
              <p class="card-text" th:text="${book.description}">Book Description</p>
              <p class="card-text" >Price - <span class="text-secondary" th:text="${book.price}">20,000 </span> Kyats </p>
              <p class="card-text">Stock - <span class="text-secondary" th:text="${book.stock}">200</span> </p>
              <a href="#" class="btn btn-success btn-sm">Order Now
                <i class="fa-solid fa-cart-plus"></i>
              </a>

              <!-- For Admin -->

              <a th:href="@{/books/edit/{id}(id=${book.id})}" class="btn btn-warning btn-sm">
                <i class="fa fa-edit"></i>
              </a>
              <a href="#" class="btn btn-danger btn-sm">
                <i class="fa fa-trash"></i>
              </a>

              </div>
              </div>
      </div>

    </div> 
  </div>    
    <th:block th:insert="~{layouts/shares :: foot}"></th:block>
  </body>
</html>