<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{layouts/shares :: head }"></th:block>
  <body>
    <th:block th:insert="~{layouts/nav :: nav }"></th:block>

  <div class="container">
      <h1 class="text-center my-5">ALL Users</h1>
      <table class="table table-bordered">
<thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="user:${users}">
      <td>1</td>
      <td th:text="${user.id}">1</td>
      <td th:text="${user.username}">Admin</td>
      <td th:text="${user.email}">admin@gmail.com</td>
      <td>
        <a th:href="@{/users/edit/{id}(id=${user.id})}" class="btn btn-sm btn-warning">
          <i class="fa fa-edit"></i>
        </a>
        <!--<a href="/ban" class="btn btn-sm btn-success">
          <i class="fa fa-trash"></i>
        </a>
        <a href="/delete" class="btn btn-sm btn-danger">
          <i class="fa fa-trash"></i>
        </a>       -->
      </td>
    </tr>  
   
  </tbody>
</table>
  </div>     
    <th:block th:insert="~{layouts/shares :: foot}"></th:block>
  </body>
</html>