<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{layouts/shares :: head }"></th>
  <body>
    
  <div class="container my-5 pt-5">
    <h3 class="text-center my-3">Register Now </h3>
    <div class="col-md-6 offset-md-3">
      <form action="/login" method="post">

          <div class="mb-3">
          <label for="username" class="form-label">Username : </label>
          <input type="text" class="form-control" id="username" name="username" required>
          </div>

          <div class="mb-3">
          <label for="email" class="form-label">Email : </label>
          <input type="email" class="form-control" id="email" name="email" required>
          </div>

          <div class="mb-3">
          <label for="password" class="form-label">Password : </label>
          <input type="password" class="form-control" id="password" name="password" required>
          </div>

          <div class="d-flex justify-content-between">
          <a href="/login" class="text-decoration-none text-secondary">Login now</a>
          <button type="submit" class="btn btn-primary btn-sm">Register</button>
          </div>       
     </form>
    </div>
  </div>  
    <th:block th:insert="~{layouts/shares :: foot}"></th>
  </body>
</html>